
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio_title {
    color: rgb(44, 62, 80);
}

.portfolio_title::before {
    background-color: rgb(44, 62, 80);
}

.portfolio_title::after {
    color: rgb(44, 62, 80);
    background-color: white;
}
